$color-white: #ffffff
$color-black: #000000
$color-red: #ff5d5d
$color-green: #4D861F
$color-heading-black: #404040
$color-news-content-black: #222222
$color-dark-mode-white: #D9D9D9

$font-main-heading: 'Playfair Display', sans-serif
$font-text: 'Open Sans', sans-serif